@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#home-banner {
  background: url("./assets/KCC.webp") no-repeat center center/cover;
  background-blend-mode: darken;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

#join {
  background: url("./assets/Parterns.png") no-repeat center center/cover;
  background-position: center center;
}

.active {
  @apply text-secondary;
}
