@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#home-banner {
  background: url("./assets/KCC.webp") no-repeat center center/cover;
  background-blend-mode: darken;
  height: 85vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.6);
}
#contact-banner {
  background: url("./assets/KCC.webp") no-repeat center center/cover;
  background-blend-mode: darken;
  height: 40vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.6);
}
#event-banner {
  background: url("./assets/KCC.webp") no-repeat center center/cover;
  background-blend-mode: darken;
  height: 50vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.6);
}

#program-banner {
  background: linear-gradient(to top, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0)) 0%
      100%,
    url("./fintech2.jpg") no-repeat center center/cover;
  background-blend-mode: darken;
  height: 50vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 20px;
}
#about-banner {
  background: linear-gradient(to top, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0)) 0%
      100%,
    url("./fintech2.jpg") no-repeat center center/cover;
  background-blend-mode: darken;
  height: 50vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 20px;
}
#footer-sub {
  background: url("./assets/community.jpg") no-repeat center center/cover;
  background-position: center center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
}

#join {
  background: url("./assets/Parterns.png") no-repeat center center/cover;
  background-position: center center;
}

.active {
  @apply text-secondary;
}
